FDA_DRUG/FDA_DRUG/Web References/WS_UPDATE_C_DEMO/WS_UPDATE_BOOKING_DRUG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UPDATE_STATUS_BOOKING_DRUG">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="C_NUMBER" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UPDATE_STATUS_BOOKING_DRUGResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UPDATE_STATUS_BOOKING_DRUGResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UPDATE_STATUS_BOOKING_DRUGSoapIn">
    <wsdl:part name="parameters" element="tns:UPDATE_STATUS_BOOKING_DRUG" />
  </wsdl:message>
  <wsdl:message name="UPDATE_STATUS_BOOKING_DRUGSoapOut">
    <wsdl:part name="parameters" element="tns:UPDATE_STATUS_BOOKING_DRUGResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="UPDATE_STATUS_BOOKING_DRUG">
      <wsdl:input message="tns:UPDATE_STATUS_BOOKING_DRUGSoapIn" />
      <wsdl:output message="tns:UPDATE_STATUS_BOOKING_DRUGSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UPDATE_STATUS_BOOKING_DRUG">
      <soap:operation soapAction="http://tempuri.org/UPDATE_STATUS_BOOKING_DRUG" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UPDATE_STATUS_BOOKING_DRUG">
      <soap12:operation soapAction="http://tempuri.org/UPDATE_STATUS_BOOKING_DRUG" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://164.115.28.105/WS_BOOKING_DRUG_DEMO/WS_UPDATE_BOOKING_DRUG.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://164.115.28.105/WS_BOOKING_DRUG_DEMO/WS_UPDATE_BOOKING_DRUG.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>