FDA_DRUG/FDA_DRUG/Web References/SV_UPDATE_PAYMENT/SV_UPDATE_PAYMENT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="STAMP_STATUS_PAYMENT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="citizen" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="refno" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="system" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="STAMP_STATUS_PAYMENTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="STAMP_STATUS_PAYMENTResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="STAMP_STATUS_PAYMENTSoapIn">
    <wsdl:part name="parameters" element="tns:STAMP_STATUS_PAYMENT" />
  </wsdl:message>
  <wsdl:message name="STAMP_STATUS_PAYMENTSoapOut">
    <wsdl:part name="parameters" element="tns:STAMP_STATUS_PAYMENTResponse" />
  </wsdl:message>
  <wsdl:portType name="SV_UPDATE_PAYMENTSoap">
    <wsdl:operation name="STAMP_STATUS_PAYMENT">
      <wsdl:input message="tns:STAMP_STATUS_PAYMENTSoapIn" />
      <wsdl:output message="tns:STAMP_STATUS_PAYMENTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SV_UPDATE_PAYMENTSoap" type="tns:SV_UPDATE_PAYMENTSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="STAMP_STATUS_PAYMENT">
      <soap:operation soapAction="http://tempuri.org/STAMP_STATUS_PAYMENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SV_UPDATE_PAYMENTSoap12" type="tns:SV_UPDATE_PAYMENTSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="STAMP_STATUS_PAYMENT">
      <soap12:operation soapAction="http://tempuri.org/STAMP_STATUS_PAYMENT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SV_UPDATE_PAYMENT">
    <wsdl:port name="SV_UPDATE_PAYMENTSoap" binding="tns:SV_UPDATE_PAYMENTSoap">
      <soap:address location="http://10.111.28.133/SPECIAL_PAYMENT_TXC_BSN/WEBSERVICE/SV_UPDATE_PAYMENT.asmx" />
    </wsdl:port>
    <wsdl:port name="SV_UPDATE_PAYMENTSoap12" binding="tns:SV_UPDATE_PAYMENTSoap12">
      <soap12:address location="http://10.111.28.133/SPECIAL_PAYMENT_TXC_BSN/WEBSERVICE/SV_UPDATE_PAYMENT.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>