FDA_DRUG/FDA_DRUG/Web References/WS_CREATE_XML/WS_INSERT_XML_DRUG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="XML_DRUG_LICENSE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Newcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_DRUG_LICENSEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_DRUG_LICENSEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_DRUG_LICENSE_DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Newcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_DRUG_LICENSE_DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_DRUG_LICENSE_DELETEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_DRUG_DH_DI_DP_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Newcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_DRUG_DH_DI_DP_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_DRUG_DH_DI_DP_DSResult" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_DRUG_FORMULA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Newcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDENTIFY_EDIT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_DRUG_FORMULAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_DRUG_FORMULAResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_DRUG_FORMULA_DELETE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Newcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_DRUG_FORMULA_DELETEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_DRUG_FORMULA_DELETEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="XML_DRUG_LICENSESoapIn">
    <wsdl:part name="parameters" element="tns:XML_DRUG_LICENSE" />
  </wsdl:message>
  <wsdl:message name="XML_DRUG_LICENSESoapOut">
    <wsdl:part name="parameters" element="tns:XML_DRUG_LICENSEResponse" />
  </wsdl:message>
  <wsdl:message name="XML_DRUG_LICENSE_DELETESoapIn">
    <wsdl:part name="parameters" element="tns:XML_DRUG_LICENSE_DELETE" />
  </wsdl:message>
  <wsdl:message name="XML_DRUG_LICENSE_DELETESoapOut">
    <wsdl:part name="parameters" element="tns:XML_DRUG_LICENSE_DELETEResponse" />
  </wsdl:message>
  <wsdl:message name="XML_DRUG_DH_DI_DP_DSSoapIn">
    <wsdl:part name="parameters" element="tns:XML_DRUG_DH_DI_DP_DS" />
  </wsdl:message>
  <wsdl:message name="XML_DRUG_DH_DI_DP_DSSoapOut">
    <wsdl:part name="parameters" element="tns:XML_DRUG_DH_DI_DP_DSResponse" />
  </wsdl:message>
  <wsdl:message name="XML_DRUG_FORMULASoapIn">
    <wsdl:part name="parameters" element="tns:XML_DRUG_FORMULA" />
  </wsdl:message>
  <wsdl:message name="XML_DRUG_FORMULASoapOut">
    <wsdl:part name="parameters" element="tns:XML_DRUG_FORMULAResponse" />
  </wsdl:message>
  <wsdl:message name="XML_DRUG_FORMULA_DELETESoapIn">
    <wsdl:part name="parameters" element="tns:XML_DRUG_FORMULA_DELETE" />
  </wsdl:message>
  <wsdl:message name="XML_DRUG_FORMULA_DELETESoapOut">
    <wsdl:part name="parameters" element="tns:XML_DRUG_FORMULA_DELETEResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_INSERT_XML_DRUGSoap">
    <wsdl:operation name="XML_DRUG_LICENSE">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ใบอนุญาตยา</wsdl:documentation>
      <wsdl:input message="tns:XML_DRUG_LICENSESoapIn" />
      <wsdl:output message="tns:XML_DRUG_LICENSESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_LICENSE_DELETE">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ใบอนุญาต_delete</wsdl:documentation>
      <wsdl:input message="tns:XML_DRUG_LICENSE_DELETESoapIn" />
      <wsdl:output message="tns:XML_DRUG_LICENSE_DELETESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_DH_DI_DP_DS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">DRUG_DH_DI_DP_DS</wsdl:documentation>
      <wsdl:input message="tns:XML_DRUG_DH_DI_DP_DSSoapIn" />
      <wsdl:output message="tns:XML_DRUG_DH_DI_DP_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_FORMULA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ทะเบียนยา+สาร</wsdl:documentation>
      <wsdl:input message="tns:XML_DRUG_FORMULASoapIn" />
      <wsdl:output message="tns:XML_DRUG_FORMULASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_FORMULA_DELETE">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">ทะเบียนยา+สาร_delete</wsdl:documentation>
      <wsdl:input message="tns:XML_DRUG_FORMULA_DELETESoapIn" />
      <wsdl:output message="tns:XML_DRUG_FORMULA_DELETESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_INSERT_XML_DRUGSoap" type="tns:WS_INSERT_XML_DRUGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XML_DRUG_LICENSE">
      <soap:operation soapAction="http://tempuri.org/XML_DRUG_LICENSE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_LICENSE_DELETE">
      <soap:operation soapAction="http://tempuri.org/XML_DRUG_LICENSE_DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_DH_DI_DP_DS">
      <soap:operation soapAction="http://tempuri.org/XML_DRUG_DH_DI_DP_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_FORMULA">
      <soap:operation soapAction="http://tempuri.org/XML_DRUG_FORMULA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_FORMULA_DELETE">
      <soap:operation soapAction="http://tempuri.org/XML_DRUG_FORMULA_DELETE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_INSERT_XML_DRUGSoap12" type="tns:WS_INSERT_XML_DRUGSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XML_DRUG_LICENSE">
      <soap12:operation soapAction="http://tempuri.org/XML_DRUG_LICENSE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_LICENSE_DELETE">
      <soap12:operation soapAction="http://tempuri.org/XML_DRUG_LICENSE_DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_DH_DI_DP_DS">
      <soap12:operation soapAction="http://tempuri.org/XML_DRUG_DH_DI_DP_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_FORMULA">
      <soap12:operation soapAction="http://tempuri.org/XML_DRUG_FORMULA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_FORMULA_DELETE">
      <soap12:operation soapAction="http://tempuri.org/XML_DRUG_FORMULA_DELETE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_INSERT_XML_DRUG">
    <wsdl:port name="WS_INSERT_XML_DRUGSoap" binding="tns:WS_INSERT_XML_DRUGSoap">
      <soap:address location="http://10.111.28.107/WS_INSERT_XML_CPN/WS_INSERT_XML_CPN/WS_INSERT_XML_DRUG.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_INSERT_XML_DRUGSoap12" binding="tns:WS_INSERT_XML_DRUGSoap12">
      <soap12:address location="http://10.111.28.107/WS_INSERT_XML_CPN/WS_INSERT_XML_CPN/WS_INSERT_XML_DRUG.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>