FDA_DRUG/FDA_DRUG/Web References/WS_REQUEST_NO/SV_REQUEST_NO.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WS_INSERT_A_NO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="r_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ref_no" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_appdate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_INSERT_A_NOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_INSERT_A_NOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_INSERT_C_NO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="r_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ref_no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_INSERT_C_NOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_INSERT_C_NOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_INSERT_R_NO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="process_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CITIZEN_AUTHIRIZE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CITIZEN_ID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nameplace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="addr" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pvncd" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ref_no" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_INSERT_R_NOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_INSERT_R_NOResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_UPDATE_STAFF">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="rc_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identify" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WS_UPDATE_STAFFResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WS_UPDATE_STAFFResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WS_INSERT_A_NOSoapIn">
    <wsdl:part name="parameters" element="tns:WS_INSERT_A_NO" />
  </wsdl:message>
  <wsdl:message name="WS_INSERT_A_NOSoapOut">
    <wsdl:part name="parameters" element="tns:WS_INSERT_A_NOResponse" />
  </wsdl:message>
  <wsdl:message name="WS_INSERT_C_NOSoapIn">
    <wsdl:part name="parameters" element="tns:WS_INSERT_C_NO" />
  </wsdl:message>
  <wsdl:message name="WS_INSERT_C_NOSoapOut">
    <wsdl:part name="parameters" element="tns:WS_INSERT_C_NOResponse" />
  </wsdl:message>
  <wsdl:message name="WS_INSERT_R_NOSoapIn">
    <wsdl:part name="parameters" element="tns:WS_INSERT_R_NO" />
  </wsdl:message>
  <wsdl:message name="WS_INSERT_R_NOSoapOut">
    <wsdl:part name="parameters" element="tns:WS_INSERT_R_NOResponse" />
  </wsdl:message>
  <wsdl:message name="WS_UPDATE_STAFFSoapIn">
    <wsdl:part name="parameters" element="tns:WS_UPDATE_STAFF" />
  </wsdl:message>
  <wsdl:message name="WS_UPDATE_STAFFSoapOut">
    <wsdl:part name="parameters" element="tns:WS_UPDATE_STAFFResponse" />
  </wsdl:message>
  <wsdl:portType name="SV_REQUEST_NOSoap">
    <wsdl:operation name="WS_INSERT_A_NO">
      <wsdl:input message="tns:WS_INSERT_A_NOSoapIn" />
      <wsdl:output message="tns:WS_INSERT_A_NOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_INSERT_C_NO">
      <wsdl:input message="tns:WS_INSERT_C_NOSoapIn" />
      <wsdl:output message="tns:WS_INSERT_C_NOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_INSERT_R_NO">
      <wsdl:input message="tns:WS_INSERT_R_NOSoapIn" />
      <wsdl:output message="tns:WS_INSERT_R_NOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WS_UPDATE_STAFF">
      <wsdl:input message="tns:WS_UPDATE_STAFFSoapIn" />
      <wsdl:output message="tns:WS_UPDATE_STAFFSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SV_REQUEST_NOSoap" type="tns:SV_REQUEST_NOSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_INSERT_A_NO">
      <soap:operation soapAction="http://tempuri.org/WS_INSERT_A_NO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_INSERT_C_NO">
      <soap:operation soapAction="http://tempuri.org/WS_INSERT_C_NO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_INSERT_R_NO">
      <soap:operation soapAction="http://tempuri.org/WS_INSERT_R_NO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_UPDATE_STAFF">
      <soap:operation soapAction="http://tempuri.org/WS_UPDATE_STAFF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SV_REQUEST_NOSoap12" type="tns:SV_REQUEST_NOSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WS_INSERT_A_NO">
      <soap12:operation soapAction="http://tempuri.org/WS_INSERT_A_NO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_INSERT_C_NO">
      <soap12:operation soapAction="http://tempuri.org/WS_INSERT_C_NO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_INSERT_R_NO">
      <soap12:operation soapAction="http://tempuri.org/WS_INSERT_R_NO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WS_UPDATE_STAFF">
      <soap12:operation soapAction="http://tempuri.org/WS_UPDATE_STAFF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SV_REQUEST_NO">
    <wsdl:port name="SV_REQUEST_NOSoap" binding="tns:SV_REQUEST_NOSoap">
      <soap:address location="http://medicina.fda.moph.go.th/FDA_DRUG/SV_REQUEST_NO.asmx" />
    </wsdl:port>
    <wsdl:port name="SV_REQUEST_NOSoap12" binding="tns:SV_REQUEST_NOSoap12">
      <soap12:address location="http://medicina.fda.moph.go.th/FDA_DRUG/SV_REQUEST_NO.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>