FDA_DRUG/FDA_DRUG/Web References/WS_DRUG_LOG_DR/WS_DRUG.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="XML_DRUG_BC_UPDATE_TB">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Newcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IDENTIFY_EDIT" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_DRUG_MERGE_UPDATE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pvncd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rgttpcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="drgtpcd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rgtno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="identify_edit" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="XML_DRUG_MERGE_UPDATEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XML_DRUG_MERGE_UPDATEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="XML_DRUG_BC_UPDATE_TBSoapIn">
    <wsdl:part name="parameters" element="tns:XML_DRUG_BC_UPDATE_TB" />
  </wsdl:message>
  <wsdl:message name="XML_DRUG_MERGE_UPDATESoapIn">
    <wsdl:part name="parameters" element="tns:XML_DRUG_MERGE_UPDATE" />
  </wsdl:message>
  <wsdl:message name="XML_DRUG_MERGE_UPDATESoapOut">
    <wsdl:part name="parameters" element="tns:XML_DRUG_MERGE_UPDATEResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_DRUGSoap">
    <wsdl:operation name="XML_DRUG_BC_UPDATE_TB">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">XML_DRUG_BC_UPDATE_TB</wsdl:documentation>
      <wsdl:input message="tns:XML_DRUG_BC_UPDATE_TBSoapIn" />
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_MERGE_UPDATE">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">XML_DRUG_MERGE_UPDATE</wsdl:documentation>
      <wsdl:input message="tns:XML_DRUG_MERGE_UPDATESoapIn" />
      <wsdl:output message="tns:XML_DRUG_MERGE_UPDATESoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_DRUGSoap" type="tns:WS_DRUGSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XML_DRUG_BC_UPDATE_TB">
      <soap:operation soapAction="http://tempuri.org/XML_DRUG_BC_UPDATE_TB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_MERGE_UPDATE">
      <soap:operation soapAction="http://tempuri.org/XML_DRUG_MERGE_UPDATE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_DRUGSoap12" type="tns:WS_DRUGSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="XML_DRUG_BC_UPDATE_TB">
      <soap12:operation soapAction="http://tempuri.org/XML_DRUG_BC_UPDATE_TB" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="XML_DRUG_MERGE_UPDATE">
      <soap12:operation soapAction="http://tempuri.org/XML_DRUG_MERGE_UPDATE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_DRUG">
    <wsdl:port name="WS_DRUGSoap" binding="tns:WS_DRUGSoap">
      <soap:address location="http://10.111.28.107/WS_DRUG/WS_DRUG/WS_DRUG.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_DRUGSoap12" binding="tns:WS_DRUGSoap12">
      <soap12:address location="http://10.111.28.107/WS_DRUG/WS_DRUG/WS_DRUG.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>