FDA_DRUG/FDA_DRUG/Web References/WS_ERROR_CENTERS/WS_ERROR_CENTER.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="INSERT_ERROR_CENTER">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="URL" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ERROR_MESSAGE" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="STACK_TRACE" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="SYSTEM_ID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="date_time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="CITIZEN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="THANM" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="INSERT_ERROR_CENTERResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="INSERT_ERROR_CENTERSoapIn">
    <wsdl:part name="parameters" element="tns:INSERT_ERROR_CENTER" />
  </wsdl:message>
  <wsdl:message name="INSERT_ERROR_CENTERSoapOut">
    <wsdl:part name="parameters" element="tns:INSERT_ERROR_CENTERResponse" />
  </wsdl:message>
  <wsdl:portType name="WS_ERROR_CENTERSoap">
    <wsdl:operation name="INSERT_ERROR_CENTER">
      <wsdl:input message="tns:INSERT_ERROR_CENTERSoapIn" />
      <wsdl:output message="tns:INSERT_ERROR_CENTERSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_ERROR_CENTERSoap" type="tns:WS_ERROR_CENTERSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT_ERROR_CENTER">
      <soap:operation soapAction="http://tempuri.org/INSERT_ERROR_CENTER" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WS_ERROR_CENTERSoap12" type="tns:WS_ERROR_CENTERSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="INSERT_ERROR_CENTER">
      <soap12:operation soapAction="http://tempuri.org/INSERT_ERROR_CENTER" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_ERROR_CENTER">
    <wsdl:port name="WS_ERROR_CENTERSoap" binding="tns:WS_ERROR_CENTERSoap">
      <soap:address location="http://164.115.28.105/WS_ERROR_CENTER/WEB_SERVICE/WS_ERROR_CENTER.asmx" />
    </wsdl:port>
    <wsdl:port name="WS_ERROR_CENTERSoap12" binding="tns:WS_ERROR_CENTERSoap12">
      <soap12:address location="http://164.115.28.105/WS_ERROR_CENTER/WEB_SERVICE/WS_ERROR_CENTER.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>