FDA_DRUG/FDA_DRUG/Web References/WS_GETDATE_WORKING/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://164.115.28.108/WS_DATE/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://164.115.28.108/WS_DATE/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GETDATE_WORKING_InputMessage">
    <wsdl:part name="parameters" element="tns:GETDATE_WORKING" />
  </wsdl:message>
  <wsdl:message name="IService1_GETDATE_WORKING_OutputMessage">
    <wsdl:part name="parameters" element="tns:GETDATE_WORKINGResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GETDATE_COUNT_DAY_InputMessage">
    <wsdl:part name="parameters" element="tns:GETDATE_COUNT_DAY" />
  </wsdl:message>
  <wsdl:message name="IService1_GETDATE_COUNT_DAY_OutputMessage">
    <wsdl:part name="parameters" element="tns:GETDATE_COUNT_DAYResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GETDATE_WORKING">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GETDATE_WORKING" message="tns:IService1_GETDATE_WORKING_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GETDATE_WORKINGResponse" message="tns:IService1_GETDATE_WORKING_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GETDATE_COUNT_DAY">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GETDATE_COUNT_DAY" message="tns:IService1_GETDATE_COUNT_DAY_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GETDATE_COUNT_DAYResponse" message="tns:IService1_GETDATE_COUNT_DAY_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GETDATE_WORKING">
      <soap:operation soapAction="http://tempuri.org/IService1/GETDATE_WORKING" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GETDATE_COUNT_DAY">
      <soap:operation soapAction="http://tempuri.org/IService1/GETDATE_COUNT_DAY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://164.115.28.108/WS_DATE/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>