FDA_DRUG/FDA_DRUG/Web References/WS_PVNCD/WS_Taxno_TaxnoAuthorize.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getProfile_byidentify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_identify" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getProfile_byidentifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getProfile_byidentifyResult" type="tns:Get_Profile" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Get_Profile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="SYSLCNSIDs" type="tns:syslcnsid" />
          <s:element minOccurs="0" maxOccurs="1" name="SYSLCNSNMs" type="tns:syslcnsnm" />
          <s:element minOccurs="0" maxOccurs="1" name="SYSLCTADDRs" type="tns:syslctaddr" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="syslcnsid">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IDA" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="identify" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lcnsid" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="crtlct" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="birthdate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="chngwtcd" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="ntcd" nillable="true" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="taxno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="trdregno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ctzno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="remark" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="idst" nillable="true" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="phrno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="stfcd" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="nmprnst" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="cncdate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="lstfcd" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lcnsidst" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="scridst" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="lmdfdate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cncremark" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="otaxno" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="type" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="email_sro" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="email_contract_real" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ID_main" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="status" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="person_status_ID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="person_status" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sex" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="syslcnsnm">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="identify" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lcnsid" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lcnscd" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="prefixcd" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="prefixcd2" nillable="true" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="prefixnm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="prefixnm2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="thanm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="engnm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lctcd" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="thalnm" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="englnm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="suffixcd" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="lcnsst" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="grplcnscd" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="bsncd" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lstfcd" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lmdfdate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="lcnsidst" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="validdate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="oldid" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="type" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="create_date" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="update_date" nillable="true" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="syslctaddr">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="identify" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="lcnsid" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lctcd" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="thaaddr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="engaddr" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="room" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="mu" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="floor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="thasoi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="building" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="engsoi" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="tharoad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="engroad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="thmblcd" nillable="true" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="thmblnm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="amphrcd" nillable="true" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="amphrnm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="chngwtcd" nillable="true" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="chngwtnm" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="zipcode" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="fax" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="validdate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="lstfcd" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="lmdfdate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="pvcode" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="amcode" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="ttcode" nillable="true" type="s:short" />
          <s:element minOccurs="0" maxOccurs="1" name="branch" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fulladdr" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="getGrouppermission_byidentify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_identify" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getGrouppermission_byidentifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getGrouppermission_byidentifyResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEight_digit_byidentify_taxno_authorize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_identify" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_taxnoauthorize" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getEight_digit_byidentify_taxno_authorizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getEight_digit_byidentify_taxno_authorizeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIDmenu_byidentify_and_taxnoauthorize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_identify" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_taxno_authorize" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getIDmenu_byidentify_and_taxnoauthorizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getIDmenu_byidentify_and_taxnoauthorizeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStaffPvncd_by_citizenID_and_taxnoauthorize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identify" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taxno_authorize" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idgroup" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStaffPvncd_by_citizenID_and_taxnoauthorizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStaffPvncd_by_citizenID_and_taxnoauthorizeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStaffPvncd_by_citizenID_and_taxnoauthorize_all">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identify" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taxno_authorize" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStaffPvncd_by_citizenID_and_taxnoauthorize_allResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStaffPvncd_by_citizenID_and_taxnoauthorize_allResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewcode_Lcnno_by_identify_and_taxnoauthorize">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="identify" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taxno_authorize" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNewcode_Lcnno_by_identify_and_taxnoauthorizeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNewcode_Lcnno_by_identify_and_taxnoauthorizeResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getProfile_byidentifySoapIn">
    <wsdl:part name="parameters" element="tns:getProfile_byidentify" />
  </wsdl:message>
  <wsdl:message name="getProfile_byidentifySoapOut">
    <wsdl:part name="parameters" element="tns:getProfile_byidentifyResponse" />
  </wsdl:message>
  <wsdl:message name="getGrouppermission_byidentifySoapIn">
    <wsdl:part name="parameters" element="tns:getGrouppermission_byidentify" />
  </wsdl:message>
  <wsdl:message name="getGrouppermission_byidentifySoapOut">
    <wsdl:part name="parameters" element="tns:getGrouppermission_byidentifyResponse" />
  </wsdl:message>
  <wsdl:message name="getEight_digit_byidentify_taxno_authorizeSoapIn">
    <wsdl:part name="parameters" element="tns:getEight_digit_byidentify_taxno_authorize" />
  </wsdl:message>
  <wsdl:message name="getEight_digit_byidentify_taxno_authorizeSoapOut">
    <wsdl:part name="parameters" element="tns:getEight_digit_byidentify_taxno_authorizeResponse" />
  </wsdl:message>
  <wsdl:message name="getIDmenu_byidentify_and_taxnoauthorizeSoapIn">
    <wsdl:part name="parameters" element="tns:getIDmenu_byidentify_and_taxnoauthorize" />
  </wsdl:message>
  <wsdl:message name="getIDmenu_byidentify_and_taxnoauthorizeSoapOut">
    <wsdl:part name="parameters" element="tns:getIDmenu_byidentify_and_taxnoauthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="getStaffPvncd_by_citizenID_and_taxnoauthorizeSoapIn">
    <wsdl:part name="parameters" element="tns:getStaffPvncd_by_citizenID_and_taxnoauthorize" />
  </wsdl:message>
  <wsdl:message name="getStaffPvncd_by_citizenID_and_taxnoauthorizeSoapOut">
    <wsdl:part name="parameters" element="tns:getStaffPvncd_by_citizenID_and_taxnoauthorizeResponse" />
  </wsdl:message>
  <wsdl:message name="getStaffPvncd_by_citizenID_and_taxnoauthorize_allSoapIn">
    <wsdl:part name="parameters" element="tns:getStaffPvncd_by_citizenID_and_taxnoauthorize_all" />
  </wsdl:message>
  <wsdl:message name="getStaffPvncd_by_citizenID_and_taxnoauthorize_allSoapOut">
    <wsdl:part name="parameters" element="tns:getStaffPvncd_by_citizenID_and_taxnoauthorize_allResponse" />
  </wsdl:message>
  <wsdl:message name="getNewcode_Lcnno_by_identify_and_taxnoauthorizeSoapIn">
    <wsdl:part name="parameters" element="tns:getNewcode_Lcnno_by_identify_and_taxnoauthorize" />
  </wsdl:message>
  <wsdl:message name="getNewcode_Lcnno_by_identify_and_taxnoauthorizeSoapOut">
    <wsdl:part name="parameters" element="tns:getNewcode_Lcnno_by_identify_and_taxnoauthorizeResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getProfile_byidentify">
      <wsdl:input message="tns:getProfile_byidentifySoapIn" />
      <wsdl:output message="tns:getProfile_byidentifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getGrouppermission_byidentify">
      <wsdl:input message="tns:getGrouppermission_byidentifySoapIn" />
      <wsdl:output message="tns:getGrouppermission_byidentifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getEight_digit_byidentify_taxno_authorize">
      <wsdl:input message="tns:getEight_digit_byidentify_taxno_authorizeSoapIn" />
      <wsdl:output message="tns:getEight_digit_byidentify_taxno_authorizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getIDmenu_byidentify_and_taxnoauthorize">
      <wsdl:input message="tns:getIDmenu_byidentify_and_taxnoauthorizeSoapIn" />
      <wsdl:output message="tns:getIDmenu_byidentify_and_taxnoauthorizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStaffPvncd_by_citizenID_and_taxnoauthorize">
      <wsdl:input message="tns:getStaffPvncd_by_citizenID_and_taxnoauthorizeSoapIn" />
      <wsdl:output message="tns:getStaffPvncd_by_citizenID_and_taxnoauthorizeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStaffPvncd_by_citizenID_and_taxnoauthorize_all">
      <wsdl:input message="tns:getStaffPvncd_by_citizenID_and_taxnoauthorize_allSoapIn" />
      <wsdl:output message="tns:getStaffPvncd_by_citizenID_and_taxnoauthorize_allSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNewcode_Lcnno_by_identify_and_taxnoauthorize">
      <wsdl:input message="tns:getNewcode_Lcnno_by_identify_and_taxnoauthorizeSoapIn" />
      <wsdl:output message="tns:getNewcode_Lcnno_by_identify_and_taxnoauthorizeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProfile_byidentify">
      <soap:operation soapAction="http://tempuri.org/getProfile_byidentify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGrouppermission_byidentify">
      <soap:operation soapAction="http://tempuri.org/getGrouppermission_byidentify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEight_digit_byidentify_taxno_authorize">
      <soap:operation soapAction="http://tempuri.org/getEight_digit_byidentify_taxno_authorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIDmenu_byidentify_and_taxnoauthorize">
      <soap:operation soapAction="http://tempuri.org/getIDmenu_byidentify_and_taxnoauthorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaffPvncd_by_citizenID_and_taxnoauthorize">
      <soap:operation soapAction="http://tempuri.org/getStaffPvncd_by_citizenID_and_taxnoauthorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaffPvncd_by_citizenID_and_taxnoauthorize_all">
      <soap:operation soapAction="http://tempuri.org/getStaffPvncd_by_citizenID_and_taxnoauthorize_all" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewcode_Lcnno_by_identify_and_taxnoauthorize">
      <soap:operation soapAction="http://tempuri.org/getNewcode_Lcnno_by_identify_and_taxnoauthorize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getProfile_byidentify">
      <soap12:operation soapAction="http://tempuri.org/getProfile_byidentify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGrouppermission_byidentify">
      <soap12:operation soapAction="http://tempuri.org/getGrouppermission_byidentify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getEight_digit_byidentify_taxno_authorize">
      <soap12:operation soapAction="http://tempuri.org/getEight_digit_byidentify_taxno_authorize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getIDmenu_byidentify_and_taxnoauthorize">
      <soap12:operation soapAction="http://tempuri.org/getIDmenu_byidentify_and_taxnoauthorize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaffPvncd_by_citizenID_and_taxnoauthorize">
      <soap12:operation soapAction="http://tempuri.org/getStaffPvncd_by_citizenID_and_taxnoauthorize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaffPvncd_by_citizenID_and_taxnoauthorize_all">
      <soap12:operation soapAction="http://tempuri.org/getStaffPvncd_by_citizenID_and_taxnoauthorize_all" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNewcode_Lcnno_by_identify_and_taxnoauthorize">
      <soap12:operation soapAction="http://tempuri.org/getNewcode_Lcnno_by_identify_and_taxnoauthorize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://164.115.28.108/WS_get_Profile_By_Identify/WS_Taxno_TaxnoAuthorize.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://164.115.28.108/WS_get_Profile_By_Identify/WS_Taxno_TaxnoAuthorize.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>